.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo-body{
    height: 300px;
}

.test{
    height: 75%;
    width: 33%;
    background-color: #222d32;
    border-radius: 10px;
}