#titulo{
    text-align: center;
    font-size: 2rem;
}

.texto{
    padding-top: 2.1875rem;
    max-width: 50rem;
    margin: auto;
}

.texto > p{
    text-align: justify;
    font-size: 1rem;
    line-height: 150%;
}

.texto > img{
    max-width: 100%;
}
.subtitulo{
    box-shadow: 0px 0.0625rem 0px 0px black;
    padding-top: 1.5rem;
}

.subtitulo > h2{
    line-height: 150%;
}