@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
*:focus{
    outline-style: none;
}
header{
    height: 3.125rem;
    width: 100%;
    background-color: #FFF;
    border-bottom: 0.0625rem solid lightgray;
    display: flex;
}
.side-menu{
    width: 14.8125rem;
    min-height: calc(100vh - 3.1875rem);
    max-height: auto;
    padding-left: 0.1875rem;
    background-color: #222D32;
    transition: 0.2s;
}
.side-menu.hidden{
    width: 0px;
    padding-left: 0px;
    transition: 0.2s;
    overflow: hidden;
}
#btn-exp-nav{
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 0.75rem;
    border-right: 0.0625rem solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    caret-color: transparent;
}
#btn-exp-nav > i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#btn-exp-nav:hover{
    background-color: lightgray;
}
#btns-nav{
    list-style: none;
}
.btn-nav:hover,.btn-nav.active{
    background-color: #1e282c;
    box-shadow: -0.1875rem 0px 0px white;
}
.btn-nav > a{
    display: block;
    padding: 0.75rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    white-space: nowrap;
}
#logo{
    height: 3.125rem;
}
#body{
    display: flex;
}
section#content{
    flex: 1;
    padding: 1rem;
    background-color: #ecf0f5;
}